@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    background: #080808; /* Black bg */
    color: #fff;
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

/* Slider */

/* Customize the scrollbar track */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
  background-color: rgb(36, 35, 35); /* Dark matte gray background color for the track */
}

/* Customize the scrollbar thumb (handle) */
::-webkit-scrollbar-thumb {
  background-color: #464343; /* Dark matte gray thumb color */
  border-radius: 6px;
}

/* Hover state for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #5e5c5c; /* Darker gray on hover */
}
  

/* Text coloring */

.mint-green-text{
    color: #98FF98;
}
.darkturcuse-text{
    color: darkturquoise;
}

/* .hidden / .show */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


/* Media query for screens with a maximum width of 768px (typical mobile screens) */
@media (max-width: 768px) {

    /* NavBar */

    .nav-option, .nav-option a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #fff; /* White */
        text-decoration: none;
    }

    header {
        overflow: hidden;
        position: fixed; /* Change to fixed */
        top: 0;
        width: 100%; /* Ensure the header spans the entire width */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1% 1%; /* 30px top and bottom, 10% on sides */
        z-index: 1000; /* Set a high z-index value to ensure it appears above other content */
        max-height: 200px;
    }

    .logo{
        max-width: 100px;
        cursor: pointer;
    }

    .nav-links {
        font-size: 1.3em;
        padding: 5px;
        list-style: none;
    }

    .nav-links li {
        display: inline-block; /* Side by side */
        padding:  8px 6px;
        border-radius: 15px;
        border: 2px #fff solid;
    }

    .nav-links a {
        transition: all 0.6s ease 0s;
    }

    .nav-links a:hover {
        color: darkturquoise;
    }

    #contact-btn{
        width: 70px;
        padding: 3% 3%;
        border-radius: 50px;
        font-size: 13px;
        font-weight: bold;
        background-color: white;
        color: black;
        border: none;
        cursor: pointer;
        transition: all 0.6s ease 0s;
        height: 33px;
        margin-bottom: 10px;
    }

    #download-cv{
        width: 70px;
        padding: 3% 3%;
        border-radius: 50px;
        font-size: 13px;
        font-weight: bold;
        background-color: white;
        color: black;
        border: none;
        cursor: pointer;
        transition: all 0.6s ease 0s;
        height: 33px;
    }

    #contact-btn:hover {
        background-color: #98FF98;
        color: white;
        box-shadow: 0px 0px 12px #fff;
    }

    #download-cv:hover {
        background-color: #98FF98;
        color: white;
        box-shadow: 0px 0px 12px #fff;
    }

    /* Home section */
    #home{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    #home h1 {
        color: #98FF98;
        font-family: "Montserrat", sans-serif;
        font-size: 90px;
        margin-top: 40%;
    }

    #name-title{
        font-family: "Montserrat", sans-serif;
        font-size: 0.9em;
    }

    #name-title h2 span{
        color: darkturquoise ;
    }

    #scroll-down-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #scroll-down {
        font-family: "Montserrat", sans-serif;
        font-size: 1em;
        margin-top: 300px;
    }

    #scroll-down-about {
        font-family: "Montserrat", sans-serif;
        font-size: 1em;
        margin-top: 140px;
    }

    /* About section */
    #about{
        margin-top: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        flex-direction: column;
    }

    #about-introduction{
        font-family: "Montserrat", sans-serif;
        margin: 4%;
        padding: 20px;
    }

    .about-text{
        padding: 20px;
        margin: 4%;
        font-family: "Montserrat", sans-serif;
        max-width: 886px;
        margin-top: 20px;
        font-size: 0.75em;
    }
    /* Skills section */
    #skills{
        margin-top: 160px;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 355px;
        max-width: 1050px;
    }
    .tech-stack-element{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 1.3em;
        padding: 17px;
        border-radius: 30px;
        max-width: 300px;
        background-color: rgb(36, 35, 35);
        margin-top: 22px;
        transition: all 0.6s ease 0s;
        cursor: pointer;
        text-decoration: none;
        transform-style: preserve-3d;
        perspective: 1000px;
    }
    .tech-stack-element h3 {
        font-size: 1.6em;
        background-color: rgba(36, 35, 35, 0);
        transform: translateZ(35px);
    }
    .tech-stack-element .rangeValue {
        margin-bottom: 20px;
        font-size: 26px;
        font-family: "Montserrat", sans-serif;
        text-align: center  ;
        background-color: rgb(36, 35, 35);
        transform: translateZ(30px);
    }
    .tech-stack-element input{
        -webkit-appearance: none;
        width: 260px;
        height: 40px;
        border-radius: 15px;
        background: #fff;
        outline: none;
        overflow: hidden;
    }
    .tech-stack-element input::-webkit-slider-thumb{
        -webkit-appearance: none;
        width: 40px;
        height: 40px;
        background: #98FF98;
        border-radius: 10px;
        box-shadow: -350px 0px 0px 340px #98FF98;
    }
    .tech-stack-element h4{
        display: flex;
        margin: 0;
        background-color: rgba(36, 35, 35, 0) ;
        transform: translateZ(30px);

    }

    .tech-stack-element:hover{
        box-shadow: 0px 0px 12px #fff;
        transform: translateZ(30px);
    }

    .js-tilt{
        border-radius: 15px;
    }

    /* Projects */

    #projects{
        margin-top: 160px;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .project-container{
        margin-top: 80px;
        font-family: "Montserrat", sans-serif;
        max-height: 1100px;
        width: 300px;
        background-color: rgb(36, 35, 35) ;
        border-radius: 15px;
        transition: all 0.6s ease 0s;
        transform-style: preserve-3d;
        perspective: 1000px;
    }

    .project-container:hover{
        box-shadow: 0px 0px 25px #fff;
    }

    .project-inner{
        display: flex;
        background: transparent;
    }

    .contents{
        background: transparent;
    }

    .contents-photos{
        background: transparent;
        display: flex;
    }

    .project-container h1{
        padding: 25px;
        background: transparent;
    }

    .project-container a{
        background: transparent;
    }

    .project-container h4{
        margin-left: 25px;
        max-width: 260px;
        background: transparent;
    }

    .project-photo{
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 15px;
        height: 160px;
        width: 270px;
        background: transparent;
    }

    .project-button{
        margin-top: 10px;
        height: 60px;
        width: 130px;
        margin-left: 35px;
        cursor: pointer;
        background: #fff;
        border-radius: 50px;
        font-family: "Montserrat", sans-serif ;
        font-weight: 700;
        color: #080808;
        transition: all 1s ease 0s;
        border: #fff 2px solid;
        margin-bottom: 10px;
    }

    .project-button:hover{
        border: none;
        background-color: darkturquoise;
        color: #fff;
        box-shadow: 0px 0px 15px #fff;
    }


    #btn-project-two{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 220px;
    }
    #btn-project-three{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 220px;
    }

    /* contact form */
    #contact-form{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        height: 750px;
        border-radius: 50px;
        background: rgb(36, 35, 35);
        align-items: center;
        justify-content: center;
        display: none;
        width: 390px;
    }
    #contact-form h1{
        width: 700px;
        font-family: "Montserrat", sans-serif;
        font-size: 2em;
        position: absolute;
        margin-bottom: 820px;
        left: 100%;
        transform: translateX(-50%);
    }

    #contact-form form{
        font-family: "Montserrat", sans-serif;
        background: transparent;

    }

    #contact-form input{
        font-family: "Montserrat", sans-serif;
        background: transparent;
        border: solid #fff 2px;
        width: 350px;
        font-size: 1.5em;
        padding: 10px;
        position: absolute;
        border-radius: 20px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    #name{
        margin-top: 40px;
    }

    #email{
        margin-top: 120px;
    }

    #phone{
        margin-top: 200px;
    }

    #message{
        width: 350px;
        border-radius: 20px;
        font-family: "Montserrat", sans-serif;
        margin-top: 180px;
        background: transparent;
        font-size: 1.2em;
        padding: 10px;
        border: solid #fff 2px;
    }

    #submit-btn{
        font-family: "Montserrat", sans-serif;
        background: transparent;
        border: solid #fff 2px;
        width: 150px;
        font-size: 1.5em;
        padding: 10px;
        position: absolute;
        border-radius: 20px;
        top: 0;
        left: 50%;
        margin-top: 670px;
        transform: translateX(-50%);
        transition: all 0.6s ease 0s;
    }

    #submit-btn:hover{
        background-color: #fff;
        color: #080808;
    }

    #back-btn{
        font-family: "Montserrat", sans-serif;
        background: transparent;
        border: solid #fff 2px;
        width: 100px;
        font-size: 1.1em;
        padding: 10px;
        position: absolute;
        border-radius: 20px;
        top: 0;
        left: 50%;
        margin-top: 860px;
        transform: translateX(-50%);
        transition: all 0.6s ease 0s;
        display: none;
    }

    #back-btn:hover{
        background-color: #fff;
        color: #080808;
    }

    /* Footer */
    footer{
        margin-top: 200px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 220px;
        font-family:"Montserrat", sans-serif  ;
        padding-top: 40px;
        color: #fff;
        overflow: hidden;
        background: rgba(36, 35, 35, 0.4);
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background: transparent;
    }
    .footer-content h3{
        font-size: 1.8em;
        font-weight: 600;
        background: transparent;
    }
    .footer-content p{
        max-width: 400px;
        margin-top: 10px;
        font-size: 16px;
        background: transparent;
    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        margin-top: 25px;
    }
    .socials li{
        margin-left: 10px;
        margin-right: 10px;
        background: transparent;
    }
    .socials a{
        text-decoration: none;
        color: #fff;
        background: transparent;
    }
    .socials a i{
        font-size: 2em;
        transition: color 1s ease 0s;
        background: transparent;
    }
    .socials a:hover i{
        color: darkturquoise;
        background: transparent;
    }

}

