@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    background: #080808; /* Black bg */
    color: #fff;
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

/* Text coloring */

.mint-green-text{
    color: #98FF98;
}
.darkturcuse-text{
    color: darkturquoise;
}

/* .hidden / .show */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* NavBar */

.nav-option, .nav-option a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #fff; /* White */
    text-decoration: none;
}

header {
    position: fixed; /* Change to fixed */
    top: 0;
    width: 100%; /* Ensure the header spans the entire width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%; /* 30px top and bottom, 10% on sides */
    z-index: 1000; /* Set a high z-index value to ensure it appears above other content */
}

.logo{
    max-width: 200px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block; /* Side by side */
    padding:  0px 20px;
}

.nav-links a {
    transition: all 0.6s ease 0s;
}

.nav-links a:hover {
    color: darkturquoise;
}

#contact-btn{
    margin-right: 10px ;
    padding: 9px 25px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: all 0.6s ease 0s;
    max-height: 125px;
}

#download-cv{
    margin-left: 10px ;
    padding: 9px 25px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: all 0.6s ease 0s;
}

#contact-btn:hover {
    background-color: #98FF98;
    color: white;
    box-shadow: 0px 0px 12px #fff;
}

#download-cv:hover {
    background-color: #98FF98;
    color: white;
    box-shadow: 0px 0px 12px #fff;
}

/* Home section */
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#home h1 {
    color: #98FF98;
    font-family: "Montserrat", sans-serif;
    font-size: 180px;
    margin-top: 25%;
}

#name-title{
    font-family: "Montserrat", sans-serif;
    font-size: 1.12em;
}

#name-title h2 span{
    color: darkturquoise ;
}

#scroll-down-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scroll-down {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin-top: 400px;
}

#scroll-down-about {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin-top: 140px;
}

/* About section */
#about{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
}

#about-introduction{
    font-family: "Montserrat", sans-serif;
    font-size: 1.25em;
}

.about-text{
    max-width: 886px;
    margin-top: 20px;
}
/* Skills section */
#skills{
    margin-top: 160px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
}
.container{
    display: flex;
    min-width: 355px;
    max-width: 1050px;
}
.tech-stack-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 30px;
    min-width: 162px;
    background-color: rgb(36, 35, 35);
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.6s ease 0s;
    cursor: pointer;
    text-decoration: none;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.tech-stack-element h3 {
    font-size: 1.6em;
    background-color: rgba(36, 35, 35, 0);
    transform: translateZ(35px);
}
.tech-stack-element .rangeValue {
    margin-bottom: 20px;
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    text-align: center  ;
    background-color: rgb(36, 35, 35);
    transform: translateZ(30px);
}
.tech-stack-element input{
    -webkit-appearance: none;
    width: 300px;
    height: 40px;
    border-radius: 15px;
    background: #fff;
    outline: none;
    overflow: hidden;
}
.tech-stack-element input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    background: #98FF98;
    border-radius: 10px;
    box-shadow: -350px 0px 0px 340px #98FF98;
}
.tech-stack-element h4{
    display: flex;
    margin: 0;
    background-color: rgba(36, 35, 35, 0) ;
    transform: translateZ(30px);
    
}

.tech-stack-element:hover{
    box-shadow: 0px 0px 12px #fff;
    transform: translateZ(30px);
}

.js-tilt{
    border-radius: 15px;
}

/* Projects */

#projects{
    margin-top: 160px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
}

.project-container{
    margin-top: 80px;
    font-family: "Montserrat", sans-serif;
    height: 500px;
    width: 800px;
    background-color: rgb(36, 35, 35) ;
    border-radius: 15px;
    transition: all 0.6s ease 0s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.project-container:hover{
    box-shadow: 0px 0px 25px #fff;
}

.project-inner{
    display: flex;
    background: transparent;
}

.contents{
    background: transparent;
}

.contents-photos{
    background: transparent;
    display: flex;
}

.project-container h1{
    padding: 25px;
    font-size: 3em;
    background: transparent;
}

.project-container a{
    background: transparent;
}

.project-container h4{
    margin-left: 25px;
    background: transparent;
}

.project-photo{
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 15px;
    height: 190px;
    width: 340px;
    background: transparent;
}

.project-button{
    margin-top: 30px;
    height: 60px;
    width: 130px;
    margin-left: 35px;
    cursor: pointer;
    background: #fff;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif ;
    font-size: 1em;
    font-weight: 900;
    color: #080808;
    transition: all 1s ease 0s;
    border: #fff 2px solid;
}

.project-button:hover{
    border: none;
    background-color: darkturquoise;
    color: #fff;
    box-shadow: 0px 0px 15px #fff;
}

#projectOne{
    margin-left: 5%;
    margin-right: 30%;
}

#projectTwo{
    margin-left: 30%;
    margin-right: 5%;
}

#projectThree{
    margin-left: 5%;
    margin-right: 30%;
}

/* contact form */
#contact-form{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 750px;
    border-radius: 50px;
    background: rgb(36, 35, 35);
    align-items: center;
    justify-content: center;
    display: none;
}
#contact-form h1{
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    position: absolute;
    margin-bottom: 820px;
    left: 50%;
    transform: translateX(-50%);
}

#contact-form form{
    font-family: "Montserrat", sans-serif;
    background: transparent;

}

#contact-form input{
    font-family: "Montserrat", sans-serif;
    background: transparent;
    border: solid #fff 2px;
    width: 700px;
    font-size: 1.5em;
    padding: 10px;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#name{
    margin-top: 40px;
}

#email{
    margin-top: 120px;
}

#phone{
    margin-top: 200px;
}

#message{
    width: 700px;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    margin-top: 180px;
    background: transparent;
    font-size: 1.2em;
    padding: 10px;
    border: solid #fff 2px;
}

#submit-btn{
    font-family: "Montserrat", sans-serif;
    background: transparent;
    border: solid #fff 2px;
    width: 150px;
    font-size: 1.5em;
    padding: 10px;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 50%;
    margin-top: 670px;
    transform: translateX(-50%);
    transition: all 0.6s ease 0s;
}

#submit-btn:hover{
    background-color: #fff;
    color: #080808;
}

/* Footer */
footer{
    margin-top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 220px;
    font-family:"Montserrat", sans-serif  ;
    padding-top: 40px;
    color: #fff;
    overflow: hidden;
    background: rgba(36, 35, 35, 0.4);
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: transparent;
}
.footer-content h3{
    font-size: 1.8em;
    font-weight: 600;
    background: transparent;
}
.footer-content p{
    max-width: 500px;
    margin-top: 10px;
    font-size: 16px;
    background: transparent;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin-top: 25px;
}
.socials li{
    margin-left: 10px;
    margin-right: 10px;
    background: transparent;
}
.socials a{
    text-decoration: none;
    color: #fff;
    background: transparent;
}
.socials a i{
    font-size: 2em;
    transition: color 1s ease 0s;
    background: transparent;
}
.socials a:hover i{
    color: darkturquoise;
    background: transparent;
}
